@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.header-bg {
  background-color: #f3f4f6;
}

.hero-bg {
  background-color: #afafaf;
}